#content {
 margin: 0 auto;
 width: 900px;
}

#byline {
  font-family: helvetica, sans-serif;
  font-size: 14pt;
  font-style: italic;
}

p {
    font-family: georgia, serif;
    font-size: 13px;
}

h1{
  font-family: helvetica, sans-serif;
}

.photos {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
font: 20px/26px normal helvetica, sans-serif;
font-style: italic;
margin-top: 15px;
margin-bottom: 15px;
color: red;
margin-left: 50px;
padding-left: 15px;
border-left: 4px solid #ccc;
}

figcaption{
  font-family: helvetica, sans-serif;
}

.banner{
  margin-left: 125px;
}
