.headline{
  font-size: 5em;
  font-weight: 800;
  text-align: center;
  font-family:'Montserrat', sans-serif;
  border-left: 10px solid #8B0000;
}
.subheadline{
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  font-family:'Montserrat', sans-serif;
  border-left: 10px solid #8B0000;
  border-bottom: 10px solid #8B0000;
}

.byline {
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  font-family:'Montserrat', sans-serif;
}

.chapter{
  font-size: 2em;
  font-weight: 600;
  text-align: left;
  font-family:'Montserrat', sans-serif;
}

.contrib{
  font-style: italic;
}


p{
  font-family: georgia, serif;
  line-height: 180%;
}


img{
  padding-top: 30px;
}

figcaption{
  font-size: 1.2em;
  text-align: left;
  font-family:'Montserrat', sans-serif;
  border-left: 10px solid #8B0000;
}

footer{
  text-align: center;
  background-color: black;
  color: white;
  font-family:'Montserrat', sans-serif;
}

.columns{
  padding-bottom: 60px;
  padding-top: 30px;
  text-align: center;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #8B0000;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 2em;
}
blockquote:before {
  color: #8B0000;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/* The sidebar menu */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #E1B7AE;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidebar p{
  padding-left: 60px;
  padding-right: 60px;
  color: black;
  font-size: 1.5em;
}

.sidebar ul{
  padding-left: 60px;
  padding-right: 60px;
  color: black;
  font-size: 1.5em;
}

.sidebar h2{
  padding-left: 15px;
  padding-bottom: 10px;
  padding-right: 60px;
  color: black;
  border-left: 10px solid #8B0000;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 60px;
  cursor: pointer;
  background-color: #8B0000;
  color: white;
  padding: 15px 15px;
  border: none;
  margin: auto;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: #00008b;
}
