/*Styles for my resume*/


/*Basic Font and Color */
body{
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color: #444;
}

#container{
  width:100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;

}

/* Banner Name */
#name {
  font-size:3em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/* Name */
#title{
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #33485e;
  text-align: center;
  margin-top: 20px;
}

/* Section Titles */
.sectionheader{
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: #fff;
  margin: 20px 0px 10px 0px;
  width: 70%;
  min-width: 300px;
}

/* Job Titles */
.jobtitles{
  font-weight: 600;
  font-size: 1.5em;
}

/*Job Organization */
.organization{
  font-weight:400;
  font-size: 1.25em;
}

/* Job Dates */
.date{
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
  margin-top: 2px;
}

/* List Items */
li{
  font-size: 1em;
}

.description{
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu{
  margin: 0 auto;
  text-align: center;
  display: inline;
  list-style-type: none;
}

#degrees{
  margin-top: 5px;
}

#do{
  margin-top: 5px;
}

.top{
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}
