/*Styles for my resume*/



body{
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color: #444;
}

h1{
  font-size:3em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
}

strong{
  font-size: 1.5em;
  text-transform: uppercase;
  color: #33485e;
}

h2{
  font-size: 1.5em;
  background-color: #33485e;
  color: #fff;
}

h3{
  font-weight: 600;
  font-size: 1.5em;
}

h4{
  font-weight:400;
  font-size: 1.5em;
}

h5{
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
}

li{
  font-size: 1em;
}
