.headline{
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family:'Montserrat', sans-serif;
}

.byline {
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  font-family:'Montserrat', sans-serif;
}

.chapter{
  font-size: 2em;
  font-weight: 600;
  text-align: left;
  font-family:'Montserrat', sans-serif;
}


p{
  font-family: georgia, serif;
  line-height: 180%;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

figcaption{
  font-size: 1.5em;
  text-align: center;
  font-family:'Montserrat', sans-serif;
  padding-bottom: 30px;
}

footer{
  text-align: center;
  background-color: black;
  color: white;
  font-family:'Montserrat', sans-serif;
}

.columns{
  padding-bottom: 60px;
  padding-top: 30px;
  text-align: center;
}
